<!DOCTYPE html>
<html>
<head>
    <title>Referencia</title>

    <table border="0" width="500%" cellpadding="5" cellspacing="5">
        <tr>
            <td width="50%">
                <section id="datosCliente">
                    <table border="0" bgcolor="white">
                        <td width="10%">
                            <img src="\image\bancomer.jpg" width="150" height="100">
                        </td>
                        <td width="90%" align="center"><b><H1 >Referencia a imprimir</H1 ></b>
                        </td>
                    </table>
                </section>
            </td>
            <td width="50%">
                <section id="datosSucursal">
                </section>
            </td>
        </tr>
    </table>

</head>

<body style="margin:40px;">

    <h1>DATOS DEL BANCO</h1>
    <table>
        <tr>
            <td><b>Nombre Banco:</b></td>
            <td>{{nombreBanco}}</td>
        </tr>
        <tr>
            <td><b> Empresa:</b></td>
            <td>{{nombreSucursal}}</td>
        </tr>
        <tr>
            <td><b>Sucursal:</b></td>
            <td>{{nombreSucursal}}</td>
        </tr>
    </table>

    <h1>REFERENCIA</h1>
    <table>
        <tr>
            <td><b>Numero Referencia</b></td>
            <td>{{referencia}}</td>
        </tr>
    </table>
</body>

</html>