<div ng-init="init()" cg-busy="{promise:promise,message:message}">
    <div id="page-title">
        <h4 class="page-header text-overflow ng-binding">{{nombreEmpresa}} <span ng-show="idSucursal != null" class="ng-binding ng-hide">/ {{nombreSucursal}}  </span><span ng-show="idDepartamento != null" class="ng-binding ng-hide">/ {{nombreDepartamento}} </span> </h4>
    </div>
    <!-- Panel para combo box filtros de empresa, sucursal y departamento  -->
    <div class="panel">
        <div class="panel-body demo-nifty-btn">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-info btn-active-dark dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">Seleccionar Empresa
                    <!--{{nombreEmpresa}}--><i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="empresa in empresas"><a href="#" ng-click="seletionCompany(empresa.emp_idempresa,empresa.emp_nombre)" class="ng-binding">{{empresa.emp_nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-primary btn-active-mint dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Seleccionar Sucursal <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="sucursal in sucursales"><a href="#" ng-click="seletionBranchoOffice(sucursal.suc_idsucursal,sucursal.suc_nombre)" class="ng-binding">{{sucursal.suc_nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-mint btn-active-purple dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Seleccionar Departamento <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="departamento in departamentos"><a href="#" ng-click="selectDepartment(departamento.dep_iddepartamento,departamento.dep_nombre)" class="ng-binding">{{departamento.dep_nombre}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- termina panel de combo box de filtros  -->

    <!-- Panel para combobox filtro por tipo documento -->
    <div class="panel" ng-show="getCompany.show ">
        <div class="panel-body demo-nifty-btn">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-success btn-active-purple dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Tipo Documento <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="documento in tipoDocumentos" class="ng-scope"><a href="#" class="ng-binding">{{documento.nombreDocumento}}</a></li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Facturas</h3>
            </div>
            <div class="panel-body">
                <table id="facturasReferencia" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Serie</th>
                            <th>Folio</th>
                            <th>fecha Vencimiento</th>
                            <th>Importe</th>
                            <th>Saldo</th>
                            <th>rfc Emisor</th>
                            <th>Referencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="factura in facturas">
                            <td>
                                {{factura.serie}}
                            </td>
                            <td>
                                {{factura.folio}}
                            </td>
                            <td>
                                {{factura.fechaVencimiento | date:"dd/MM/yyyy" }}
                            </td>
                            <td>
                                {{factura.importe | currency}}
                            </td>
                            <td>
                                {{factura.saldo | currency}}
                            </td>
                            <td>
                                {{factura.rfcEmisor}}
                            </td>
                            <td>
                                <button class="btn btn-default btn-icon btn-circle" style="margin-left:35%;" data-toggle="modal" data-target="#demo-default-modal" ng-click="generateReference(factura.serie,factura.folio)"><i class="demo-pli-monitor-2 icon-lg"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- termina panel tipo de documento -->

    <!-- Inicio panel de Form -->
    <div class="panel ng-hide" ng-show="selectTypeDoc.show">
        <div class="panel-heading">
            <h3 class="panel-title ng-binding">Captura de Datos </h3>
        </div>

        <!--Block Styled Form -->
        <!--===================================================-->

        <div class="panel-body">
            <form ng-show="idDocumento == 1" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-hide">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label class="control-label">Serie</label>
                            <input type="text" ng-model="facturaSerie" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" placeholder="ej.AAA" maxlength="3" pattern="[A-Z]{1,3}" required="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Numero Folio</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="facturaFolio" placeholder="ej.123456" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="6">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit" ng-click="generateReference(facturaSerie,facturaFolio)">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="idDocumento == 2" class="ng-pristine ng-valid ng-valid-pattern ng-valid-maxlength ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Folio Cotización</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="cotizacionFolio" placeholder="ej.A12345F12" class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern ng-valid-maxlength" maxlength="9" pattern="[A-Z0-9]{9}">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="idDocumento == 3" class="ng-pristine ng-valid ng-valid-pattern ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Folio Pedido</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="pedidoFolio" placeholder="ej.A12345F12" class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern" pattern="{^[A-Z0-9]{9}$">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="selectTypeDoc.show" class="ng-pristine ng-valid ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Referencia</label>
                            <div class="input-group mar-btm">
                                <input type="text" placeholder="" class="form-control" disabled="" ng-model="referencia">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#demo-default-modal">Imprimir</button>
					           </span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!--===================================================-->
        <!--End Block Styled Form -->
    </div>
    <!-- Termina panel de Form -->
</div>


<!--div class="modal fade ng-scope" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;" data-backdrop="static" cg-busy="{promise:promise,message:message2}">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header- ->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Detalles del Documento </h4>
            </div>

            <!--Modal body- ->
            <div class="modal-body" style="min-height: 350px">
                <div class="form-group pad-ver">
                    <div class="col-md-9">
                        <label class="control-label">Serie: {{facturaSerie}} </label>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label">Folio: {{facturaFolio}} </label>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label">Referencia: {{referencia}}</label>
                    </div>
                </div>
                <br/>
                <div class="col-md-12">
                <h5 class="modal-title">Selecciona el banco a pagar </h5>
                </div>
                <div class="form-group pad-ver">
                    <div class="col-md-9">
                        <div class="radio">
                            <input id="demo-form-radio" class="magic-radio" type="radio" name="form-radio-button" value="1" ng-model="idBanco">
                            <label for="demo-form-radio"></label>
                            <img class="image-responsive" src="image/bancomer.jpg" alt="image" style="with:12px; height:40px; margin-top: 13px; margin-left:10px">
                        </div>
                        <div class="radio">
                            <input id="demo-form-radio2" class="magic-radio" type="radio" name="form-radio-button" value="2" ng-model="idBanco">
                            <label for="demo-form-radio2"></label>
                            <img class="image-responsive" src="image/banorte.jpg" alt="image" style="with:18px; height:45px; margin-top: 5px; margin-left:10px">
                        </div>
                        <div class="radio">
                            <input id="demo-form-radio3" class="magic-radio" type="radio" name="form-radio-button" value="3" ng-model="idBanco">
                            <label for="demo-form-radio3"></label>
                            <img class="image-responsive" src="image/scotiabank.jpg" alt="image" style="with:18px; height:45px; margin-top: 5px; margin-left:10px">
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal footer- ->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                <button class="btn btn-primary" ng-click="generarPdf(idBanco)">Imprimir</button>
            </div>
        </div>
    </div>
</div-->




<div class="modal fade" id="demo-default-modal" tabindex="-1" role="dialog" aria-labelledby="payInvoceModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--h1 class="pull-right">{{invoce.importe |currency}}</h1-->
                <h2 class="modal-title" id="payInvoceModalLabel">Factura {{facturaSerie}}{{facturaFolio}}</h2>
                <!--h3>Pagar antes de: {{invoce.fechaVencimiento | date:"dd/MM/yyyy" }} </h3-->
            </div>
            <div class="modal-body">
                <div ng-show="content">
                    <form name="pendingInvoceModalForm" method="post">
                        <!--span class="badge pull-right">{{invoce.estatus}}</span-->
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <b>Descripcion</b>
                                </p>
                                <p>
                                    {{invoce.descripcion}}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <b>Departamento</b>
                                </p>
                                <p>
                                    {{invoce.departamento}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-xs-6">
                                <p>
                                    <b>Fecha de emision</b>
                                </p>
                                <p>
                                    {{invoce.fechaEmision | date:"dd/MM/yyyy" }}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <b>Estatus</b>
                                </p>
                                <p>
                                    {{invoce.estatus}} hace {{invoce.diasCartera}}  días.
                                </p>
                            </div>
                        </div>


                        <hr>
                        <h2>Selecciona metodo de pago</h2>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="radio">
                                    <input ng-model="payMethod" type="radio" id="radioBank" value="1" name="radioInline">
                                    <label for="radioBank">Pago en bancos</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="radio">
                                    <input ng-model="payMethod" type="radio" id="radioReference" value="2" name="radioInline">
                                    <label for="radioReference">Linea de captura</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div ng-show="payMethod">
                            <hr>
                            <h2>Selecciona banco para pagar</h2>
                            <div class="cc-selector">
                                <div ng-show="bank.disponible == 3 || payMethod == 1 && bank.disponible ==2 || payMethod == 2 && bank.disponible ==1 " ng-repeat="bank in banks">
                                    <a ng-click="payInvoce(invoce.folio,bank.idBanco,invoce.idEmpresa)" class="bank-cc {{bank.nombre | lowercase}}"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="height:530px" id="pdfReferenceContent" ng-show="!content">

                </div>
            </div>
        </div>
    </div>
</div>
